<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>每日锻炼</title>
    <link rel="stylesheet" href="./css/elementui-index.css" />
    <script type="text/javascript" src="./js/vue.js"></script>
    <style type="text/css">
        form {
            width: 60%;
        }
    </style>
</head>
<body>

<el-container id="main-container">
    <el-form>
        <el-row>
            <label>俯卧撑： </label>
            <el-input placeholder="做了多少个？" v-model="pushup" class="fwc"></el-input>
        </el-row>
        <el-row>
            <label>{{ courseName }}</label><br/>
            <el-checkbox-group v-model="whatched">
                <el-checkbox v-for="item in items" :key="item.id" :label="item.id">{{ item.name }}</el-checkbox>
            </el-checkbox-group>
        </el-row>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">更新</el-button>
        </el-form-item>
        <el-row type="flex" justify="end">
            <label>Today: {{ today }}</label>
        </el-row>
    </el-form>
</el-container>


<script src="./js/elementui-index.js"></script>
<script type="text/javascript" src="./js/axios.min.js"></script>
<script>

    function makeData(num) {
        var data = Array();
        for (var i = 1; i <= num; i++) {
            let d = new Object();
            d.id = i;
            d.name = `第${i}节`;
            data.push(d);
        }
        return data;
    }

    function getDate() {
        var d = new Date();
        let year = d.getFullYear();
        let mon = d.getMonth() + 1;
        let day = d.getDate();
        return year + '-' + mon + '-' + day;
    }

    var app = new Vue({
      el: '#main-container',
      data: {
        items: makeData(64),
        pushup: 0,
        courseName: "B站气象学课程",
        whatched: [],
        today: getDate(),
      },
      methods: {
        onSubmit() {
            axios.post('/daily/api', 
                {
                    courseName: this.courseName,
                    whatched: this.whatched,
                    pushup: this.pushup
                },
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }
            ).then(function (response) {
                console.log("updated");
            }).catch(function(error) {
                console.log(error);
            });
        },
        getData() {
            axios.get('/daily/get_data').then((response)=>{
                let data = response.data;
                let items = data.split(',');
                this.whatched = items.map(item => parseInt(item, 10));
            })
        }
      },
      mounted: function() {
          this.getData();
      }
    })
</script>
</body>
</html>