<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>每日锻炼</title>
    <link rel="stylesheet" href="./css/elementui-index.css" />
    <script type="text/javascript" src="./js/vue.js"></script>
    <style type="text/css">
        form {
            width: 60%;
        }
    </style>
</head>
<body>

<el-container id="main-container">
    <el-form>
        <el-row>
            <label>俯卧撑： </label>
            <el-input placeholder="做了多少个？" v-model="pushup" class="fwc"></el-input>
        </el-row>
        <el-row>
            <label>{{ courseName }}</label><br/>
            <el-checkbox-group v-model="whatched">
                <el-checkbox v-for="item in items" :key="item.id" :label="item.id">{{ item.name }}</el-checkbox>
            </el-checkbox-group>
        </el-row>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">更新</el-button>
        </el-form-item>
        <el-row type="flex" justify="end">
            <el-link type="primary" href="./chart.html">查看图表</el-link>
        </el-row>
        <el-row type="flex" justify="end">
            <label>Today: {{ today }}</label>
        </el-row>
    </el-form>
</el-container>


<script src="./js/elementui-index.js"></script>
<script type="text/javascript" src="./js/axios.min.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>